<!-- challenge.html -->
<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>테스트용 challenge.html</title>
</head>
<style>
    .challenge-row {
        display: flex;
        justify-content: space-between;
    }
</style>
<body>
{% load static %}
<!-- 챌린지 목록 -->
<div class="challenge-list">
    <h2>Challenges</h2>
    <div class="challenge-row">
        <!-- challenge-circle를 button 태그로 변경하고 모달을 띄울 data-* 속성 추가 -->
        <button id="chall1" onclick="openModal(1)">
            <img src="{% static 'testButton.png' %}" alt="FullState" width="60px" height="120px">
            SmileMarket
        </button>
        <button id="chall2" onclick="openModal(2)">
            <img src="{% static 'testButton.png' %}" alt="FullState" width="60px" height="120px">
            Calculator
        </button>
        <button id="chall3" onclick="openModal(3)">
            <img src="{% static 'testButton.png' %}" alt="FullState" width="60px" height="120px">
            FoxGallery
        </button>
        <button id="chall4" onclick="openModal(4)">
            <img src="{% static 'testButton.png' %}" alt="FullState" width="60px" height="120px">
            OmpangiStore
        </button>
    </div>
</div>

<!-- Bootstrap JS와 CSS 추가 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
<script>
    // 모달 열기 함수
    function openModal(challengeId) {
        // AJAX 요청
        fetch(`/challenge/get_data?challenge_id=${challengeId}`)
            .then(response => response.json())
            .then(data => {
                // 모달 내용 업데이트
                document.querySelector('#myModal .modal-container-title').textContent = data.challenge_id + ' 문제 이름';
                document.querySelector('#myModal .modal-container-body').innerHTML = `
                    <p>team_id: ${data.team_id}</p>
                    <p>ip: ${data.ip}</p>
                    <p>port: ${data.port}</p>
                    <p>description: ${data.description}</p>
                `;
                document.querySelector('#myModal .modal-container-footer').textContent = 'score: ' + data.score;

                // 모달 표시
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
            });
    }


    // 모달 닫기 함수
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }
</script>
</body>
</html>