{% extends 'base.html' %}

{% block title %}Fortuna{% endblock title %}

{% block extra_css %}
<style>
        /* 이 스타일은 index.html에만 적용됩니다. */
        .index-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 50px); /* 네비게이션 바의 높이만큼 제외 */
            text-align: center;
        }
        .index-content {
            width: 100%; /* 내부 요소 너비 설정 */
            max-width: 600px; /* 내부 요소의 최대 너비 설정 */
            padding: 20px; /* 내부 요소의 패딩 설정 */
        }
</style>
{% endblock extra_css %}

{% block content %}
    <div class="index-center">
        <div class="index-content">
            <img src="{{ config.index_image }}" alt="Index Image" width="400px">
            <h2>{{ config.index_title }}</h2>
            <p>{{ config.index_message | linebreaksbr }}</p>
        </div>
    </div>
{% endblock content %}
