{% load static %}

<script src="{% static 'js/log.js' %}"></script>

<style>
    .inputArea {
        display: flex;
        align-items: center;
    }

    #inputField {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-right: -1px;
    }

    #sendButton {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: black;
        color: white;
        cursor: pointer;
    }

    #sendButton:hover {
        background-color: #333333;
    }

    #messageList {
        width: 100%;
        max-height: 400px;
        overflow-y: auto; /*내용 길면 스크롤*/
        margin-bottom: 10px;
        padding: 10px;
        list-style: none;
        background-color: #f9f9f9;
        border-radius: 10px;
    }

    #messageList li {
        margin-bottom: 10px;
        padding: 5px;
        background-color: white;
    }
</style>

<div class="inputArea">
    <input type="text" id="inputField">
    <button id="sendButton">Send</button>
</div>

<ul id="messageList">
</ul>

