{% extends 'manage/base.html' %}

{% block extra_css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<meta charset="UTF-8">
{% endblock extra_css %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Current Round: {{ round }}</h5>
                    <h5 class="card-title">Flags</h5>
                    <ul class="list-group list-group-flush scrollable-list">
                        {% for info in round_info %}
                        <li class="list-group-item">
                            Team{{info.team_id}}-{{ info.challenge_name }}(Chall: {{ info.challenge_id }}):
                            {{info.flag}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Current Challenge Info</h5>
                    <ul class="list-group">
                        {% for info in round_info %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Team ID: {{ info.team_id }}, Challenge ID: {{ info.challenge_id }}
                            <!-- Renew flag 버튼 -->
                            <form action="{% url 'create_one_flag' info.team_id info.challenge_id %}" method="post"
                                style="display: inline-block;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-sm">Renew Flag</button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                    <br>

                    <h5 class="card-title">Flag Functions</h5>
                    <!-- Flag Functions 폼 -->
                    <form action="{% url 'create_flag' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Renew Flag</button>
                    </form>
                    <!-- Export AuthInfo 버튼 -->
                    <a href="{% url 'export_authinfo' %}" class="btn btn-secondary" style="margin-left: 10px;">Export
                        Flag
                    </a>
                    <br>
                    <br>

                    <h5 class="card-title">Team Actions</h5>
                        {% for team in teams %}
                        <button type="button" class="btn btn-info" onclick="openModalForTeam('{{ team.name }}')">{{ team.name }}</button>
                        {% endfor %}
                    <!-- Modal Structure -->
                    <div class="modal fade" id="actionTryModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Action Tries</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="modalBody">
                                <!-- Content will be loaded here via JavaScript -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function openModalForTeam(teamName) {
  fetch(`/manage/get_action_tries/${teamName}`)
    .then(response => response.json())  // response를 JSON으로 받습니다.
    .then(data => {
      const parsedData = JSON.parse(data);  // JSON 문자열을 JavaScript 객체로 파싱합니다.

      const modalBody = document.getElementById('modalBody');
      modalBody.innerHTML = '';  // 모달 내용 초기화

      parsedData.forEach(actionTry => {
  const div = document.createElement('div');
  div.style.overflowWrap = 'break-word'; // 긴 단어도 줄바꿈 되도록 설정
  const createdAt = new Date(actionTry.fields.created_at).toLocaleString();
  div.textContent = `${actionTry.fields.attacker_name}(${actionTry.fields.created_at}): ${actionTry.fields.contents} - ${actionTry.fields.correct ? 'Correct' : 'Incorrect'}`;
  modalBody.appendChild(div);
});

      $('#actionTryModal').modal('show');  // 모달 표시
    })
    .catch(error => console.error('Error:', error));
}
    </script>

{% endblock content %}